.btn {
  /* border: none; */
  color: #fff;
  padding: 0.7em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
/* variant */
.primary {
  background-color: rgb(194, 0, 73);
  color: white;
  border: none;
}

.secondary {
  background-color: white;
  color: rgb(194, 0, 73);
  border: 0.01rem solid rgb(194, 0, 73);
}

.danger {
  background-color: tomato;
  color: white;
}

/* size */
.large {
  font-size: 22px;
}

.small {
  font-size: 12px;
}
